.build-burrito {
position: relative;
background: #252827;
}


.header-text {
position: absolute;
width: 780px;
height: 76px;
left: 330px;
top: 269px;

/* title */

font-family: -apple-system, BlinkMacSystemFont, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 76px;
text-align: center;
letter-spacing: 0.16em;

color: #FFFFFF;

}

.ingredient-slct-group {
position: absolute;
width: 875px;
height: 2033px;
left: 285px;
top: 484px;
}



.ingredient-cat-text {
position: absolute;
width: 113px;
height: 48px;
left: 664px;
top: 1027px;

font-family: -apple-system, BlinkMacSystemFont, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.16em;

color: #FFFFFF;
}