.bar{
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0%;
  left: 0%;
  background: #FFFFFF;
}

.bar .head {
 /* fake header */
  height: 100%;
  width: 100%;
}

.text-frame img{
  position: absolute;
  width: 50px;
}

.bar .profile{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 90%;
  padding:1%
}

.text-frame{
     display: flex;
  flex-direction: row;
  padding: 1%;
  position: absolute;
  width: 90%;
  height: 57px;
  left: 8%;
  float:left;
  top: 0%;

}

.text-frame a{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 30px;
  line-height: 57px;
  text-align: center;
  color: #888888;
  background-color: #FFFFFF;
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 2%;
}

.text-frame a:visited {
  color: #C80B2D;
  border: none;
}

.text-frame a:hover {
  border:none; 
  color: #9F9F9F;
}