.item-selector{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
    width: 170px;
    height: 260px;
    max-height: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-top: 1em;
    background-position: center 74.28571px;
    background-size: 200%;
}

.item-card{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 260px;
}
