.rest-order-page {
    background: #252827;
    background-color: #252827;
}

.orders-left {
    
    position: absolute;
    width: 119.63px;
    height: 170px;
    left: 82px;
    top: 121px;

}


.header-text {
    position: center;
    margin-top: 100px;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
}

.order-main {    
    position: absolute;
    width: 832px;
    height: 630px;
    left: 304px;
    top: 305px;
}
