.rest-order-page {
    background: #252827;
    background-color: #252827;
    height: 1500px;
    width: 100%
}


.orders-left {
    position: top;
    float: left;
}

.header-text {
    position: top;
    float: center;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
}

.order-main {    
    position: center;
    float: center;
    margin: auto;
    width: 832px;
    height: 630px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

}

.text-box {
    position: center;
    width: 80%;
    height: 80%;
    margin-left: 50px;
    margin-top: 75px;
}

.text-name {
    position: center;
    width: 80%;
    margin-top: 75px;
    left: 368.35px;
    top: 364.86px;
    margin-top: 75px;
    padding-top: 75px;

    /* box header */

    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;

    color: #000000;

}

.text-order-number {
    position: center;
    left: 368.35px;
    top: 425.21px;
    margin-bottom: 20px;;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 36px;



color: #898989;
}

.text-ings {

    position: center;
    left: 368.35px;
    top: 575.85px;

    margin-top: 40px;

    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.done-button {
    position: bottom;
    float: right;
    margin-right: 50px;
   }

.text-notes {
    position: buttom;
    float: left;
    left: 368.35px;
    margin-bottom: 100px;
    padding-top: 130px;


    /* body text */

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height */


color: #000000;
}